.env
__pycache__/
.DS_Store
.vscode/
.idea/
*.pyc
packet-simulator/src/fake_videos/
packet-simulator/fake_videos/
.mp4
# Local Netlify folder
.netlify
machine-learning/crab_detection/scripts/test_e2e.py
/machine-learning/crab_detection/tests
